@{
    Layout = "_Layout";
}

@model BeMyGuest.Models.Host

<h2>Host Details</h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.HostName):</h3>
<h4>@Html.DisplayFor(model => model.HostName)</h4>

@* @if(@Model.Guests.Count == 0)
{
    <p>This event does not have any guests yet.</p>
    <hr />
}
else
{
    <h3>Guest List:</h3>
    <ul>
        @foreach(var join in Model.Guests)
        {
            <div class="form-group">
                <li><h4>@join.Guest.GuestName</h4></li>
            </div>
            @using (Html.BeginForm("DeleteJoin", "Guests"))
            {
                <div class="form-group">
                    @Html.Hidden("joinId", @join.GatheringId)
                    <input type="submit" value="Remove Guest" class="btn btn-default"/>
                </div>
            }
        }
    </ul>
} *@

<h3>@Html.ActionLink("Guests Home", "Index") || @Html.ActionLink("Edit Guest", "Edit", new { id = Model.HostId }) || @Html.ActionLink("Delete Guest", "Delete", new { id = Model.HostId })</h3>