@model List<UserRoleViewModel>
@using BeMyGuest.ViewModels

@{
    var roleId = ViewBag.roleId;
    Layout = "_Layout";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or remove users from this role</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check">
                    @Html.HiddenFor(model => model[i].UserId)
                    @Html.HiddenFor(model => model[i].UserName)
                    @Html.CheckBoxFor(model => model[i].IsSelected)
                    @Html.DisplayFor(model => model[i].UserName)
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" style="width:auto"/>
            <a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>