@{
    Layout = "_Layout";
}

@model BeMyGuest.Models.Guest

<h2>Guest Details</h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.Name):</h3>
<h4>@Html.DisplayFor(model => model.Name)</h4>

@* @if(@Model.Hosts.Count == 0)
{
    <p>This event does not have any guests yet.</p>
    <hr />
}
else
{
    <h3>Guest List:</h3>
    <ul>
        @foreach(var join in Model.Host)
        {
            <div class="form-group">
                <li><h4>@join.Guest.GuestName</h4></li>
            </div>
            @using (Html.BeginForm("DeleteJoin", "Events"))
            {
                <div class="form-group">
                    @Html.Hidden("joinId", @join.GatheringId)
                    <input type="submit" value="Remove Host" class="btn btn-default"/>
                </div>
            }
        }
    </ul>
} *@
<h3>@Html.ActionLink("Guests Home", "Index") || @Html.ActionLink("Edit Guest", "Edit", new { id = Model.GuestId }) || @Html.ActionLink("Delete Guest", "Delete", new { id = Model.GuestId })</h3>